.Categories {
  display: flex;
  padding: 39px 16px 0;
  gap: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Categories::-webkit-scrollbar {
  display: none;
}

.all {
  background-color: var(--main-color);
  color: var(--label-bg-color);
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
}
