.header {
  background-image: linear-gradient(var(--main-color-dark), #179489);
  height: 104px;
}

.main {
  background-color: #e9ebef;
  height: var(--main-height);
  overflow: auto;
}

.content {
  width: calc(100vw - var(--aside-width));
  height: 100vh;
  max-height: 100%;
}

.aside {
  background-color: var(--main-color-light);
  position: fixed;
  left: 0;
  top: 0;
  width: var(--aside-width);
  min-width: 200px;
  height: var(--main-height);
  padding: 35px 15px 0;
}
