* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --main-color: #0fa59a;
  --main-color-light: #13a69a;
  --main-color-dark: #245550;

  --text-gray-color: #818181;

  /* dimensions */
  --nav-height: 84px;
  --main-height: calc(100vh - var(--nav-height));
  --aside-width: 25vw;
}
body {
  direction: rtl;
}

ul {
  list-style: none;
}
