@font-face {
  font-family: "SST-Arabic-Medium";
  src: url(./fonts/SST-Arabic-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --main-color: #0fa59a;
  --main-color-light: #13a69a;
  --main-color-dark: #245550;

  --label-bg-color: #e8f8f7;

  --text-gray-color: #818181;
  --text-gray-color-dark: #363636;
  --text-green-color: var(--main-color);

  /* dimensions */
  --nav-height: 84px;
  --main-height: calc(100vh - var(--nav-height));
  --aside-width: 25vw;
}

body {
  direction: rtl;
  font-family: "SST-Arabic-Medium", sans-serif;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}

.active > * {
  color: var(--main-color-light);
}

.active::before {
  content: "";
  width: 19px;
  height: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--main-color);
}
